.watchcomments
{
    color: white;
}

.watchvid-det-views > span
{
    padding-right: 10px;

}


.watchvid-det-views-likes
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.watchvid-det-likes-icons
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.likes-icon
{
    display: flex;
    align-items: center;
    
}

.likes-icon > span
{
    padding: 10px;
}


.like-icons
{
    padding-left: 2rem;
}



/* WatchCom File */


.watchcom_avat
{
    padding-left: 1rem;
}

.watchdvideo-comments
{
    display: flex;
    align-items: center;
}

.wachvid-com-sub
{
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: .2rem;
    border: 1px solid rgba(255, 255, 255, 0.151);
}

.watchcom-title
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}


.watchcom-title-subs
{
font-size: 12px;
color: rgb(163, 159, 159);
}

.watchvid-sub-btn
{
   padding-left: 100px;
   padding-right: 1rem;
   

}


.watchvid-sub-btn > button
{

    width: 120px; 
    border: none;
    color: white;
    font-weight: 600;
    outline-width: 0;
    border-radius: .1rem;
    text-transform: uppercase;
    padding: 10px 10px 10px 10px;
    background-color: rgb(255, 0, 0);
   
}

.watchcom-img
{
    width: 350px;
    height: 200px;
}


.watchcom-img > img
{
    width: 100%;
    height: 100%;
    border-radius: .2rem;
}