.wrapper
{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.watchvideo-items
{
    display: flex;
    flex-wrap: wrap;
}
.watchvideo-item-view
{
    flex: 1;
    height: auto;
    margin: 1rem 3rem;
}


.watchvideo-item-suges
{
    flex: 1;
    height: auto;
    margin: 1rem 2rem;
   
    
}




@media screen and (max-width:1000px) 
{



    .watchvideo-item-view
{
    height: auto;
    margin: 1rem 2rem;
}
    iframe
    {
        width: 870px;
        height: 500px;
    }


    .watchvideo-item-suges
{
    flex: 1;

}
  
   
}
