.youbody
{
    flex: .85;
    padding: 10px 50px;
     padding-bottom: 0;
     background-color: rgb(27, 27, 27);
}

.youvid_videos
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

